html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.gradient {
  background: rgb(178,10,255);
  background: linear-gradient(
    90deg,
    rgba(178,10,255,1) 35%,
    rgba(78,171,40,1) 100%
  );
}

.page-header {
  /*height: calc(100% - 40px);*/
  margin-top: 4rem;
}

.container {
  /*height: calc(100% - 40px);*/
}

.title {
  font-weight: bold;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #D0D3D4;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
  margin-right: 0;
}

.social-icons .social-icon:hover {
  background-color: #00b5e2;
}
